.carritoCompras{
    display: grid;    
    text-align: center;
}

.carritoComprasDetalle{
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    text-align: center;
    background-color: bisque;
    border-radius: 20px;
    margin: 20px;
    height: 100px;
    align-items: center;
}

.carritoIzq{
    font-size: 22px;
    font-weight: bold;
}

.carritoCentro{
    display: flex;
    justify-content: space-evenly;
}

.carritoDer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.botonEliminarItemCarrito{
    background-color: blueviolet;
    padding: 9px 10px;
    border-radius: 12px;
    cursor: pointer;
}

.tituloTotalCarrito{
    font-size: 35px;
    font-weight: bold;
    margin: 15px 0px;
}

.botonVaciarCarrito{
    background-color: blueviolet;
    width: 160px;
    height: 50px;
    justify-self: center;
    border: 0px;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    margin-bottom: 15px;
}

.checkout{
    background-color: blueviolet;
    width: 90%;
    height: 90px;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    justify-self: center;
    text-decoration: none;
    justify-items: center;
    font-weight: bold;
    font-size: 25px;
    display: grid;
    align-items: center;
}